<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Change AspNetCoreModule to AspNetCoreModuleV2 -->
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments="jsr223-powerfx-server.dll" stdoutLogEnabled="false" stdoutLogFile="logs/stdout" />
  </system.webServer>
</configuration>